@import "@/styles/mixins/media";

.customTooltipDiv {
  padding: 4px;
  font-size: 10px;
  background: linear-gradient(var(--card), var(--card)) padding-box,
  var(--accent-gradient) border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-sm);

  h5 {
    color: var(--accent-primary);
    font-weight: 700;
    line-height: 12px;
  }

  p {
    color: var(--text-mild);
    font-weight: 500;
    line-height: 12px;

    span {
      color: var(--text);
      font-weight: 700;
    }
  }
}

.modeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  color: var(--accent-primary);
  font-weight: 600;
  font-size: 14px;
  border: var(--accent-primary) solid 1px;
  border-radius: 100px;

  &:hover, &:focus {
    color: var(--text-light);
    background: var(--accent-primary);
  }

  &:focus {
    outline: black;
  }

  &:active {
    color: var(--accent-mild-contrast);
    background: var(--accent-mild);
    border: var(--accent-mild) solid 1px;
  }

  &.selected {
    color: var(--text-light);
    background: var(--accent-active);
    border: var(--accent-active) solid 1px;
  }
}

.gasChartHeaderDateDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  container: gas-chart-date-div / inline-size;
}

.gasChartHeaderDate {
  display: flex;
  padding: 0 8px;
  color: var(--text);
  font-size: 14px;

  @container gas-chart-date-div (width < 200px) {
    display: none;
  }
}