/** Accents */

$iris: #b4cbe5;
$lilac: #8fc7ff;
$periwinkle: #66c9ff;
$mauve: #1183d4;
$orchid: #004da4;
$mulberry: #003d79;
$plum: #051248;


/** Base Colors */

$onyx: #0F0D0F;
$deep-space: #1C181C;
$stucco: #FFFDFF;
$concrete: #F2F1F2;


/** Nyctochrome */

$nyctochrome-frost: #F1F4F4;
$nyctochrome-silver: #DADCDC;
$nyctochrome-smoke: #666F7A;
$nyctochrome-ash: #30353A;
$nyctochrome-sable: #292E34;
$nyctochrome-cinder: #22272C;
$nyctochrome-umbra: #1D2228;
$nyctochrome-obsidian: #161A1E;


/** Grey */

$grey-50: #F6F5F6;
$grey-100: #D0CED2;
$grey-200: #BBB7BD;
$grey-300: #9B959F;
$grey-400: #87808C;
$grey-500: #69636E;
$grey-600: #605A64;
$grey-700: #4B464E;
$grey-800: #39363C;
$grey-900: #2C2A2E;


/** Status Colors */

/** Error */

$error-50: #FEF2F2;
$error-100: #FEE2E2;
$error-200: #FECACA;
$error-300: #FCA5A5;
$error-400: #F87171;
$error-500: #EF4444;
$error-600: #DC2626;
$error-700: #B91C1C;
$error-800: #991B1B;
$error-900: #7F1D1D;

/** Warning */

$warning-50: #FEFCE8;
$warning-100: #FEF9C3;
$warning-200: #FEF08A;
$warning-300: #FDE047;
$warning-400: #FACC15;
$warning-500: #EAB308;
$warning-600: #CA8A04;
$warning-700: #A16207;
$warning-800: #854D0E;
$warning-900: #713F12;

/** Success */

$success-50: #F0FDF4;
$success-100: #DCFCE7;
$success-200: #BBF7D0;
$success-300: #86EFAC;
$success-400: #4ADE80;
$success-500: #22C55E;
$success-600: #16A34A;
$success-700: #15803D;
$success-800: #166534;
$success-900: #14532D;

/** Info */

$info-50: #E6F3FA;
$info-100: #B1DAF1;
$info-200: #8BC8EA;
$info-300: #55AFE0;
$info-400: #35A0DA;
$info-500: #0288D1;
$info-600: #027CBE;
$info-700: #016194;
$info-800: #014B73;
$info-900: #013958;