@mixin button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 18px;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  border-radius: var(--standard-radius);
  transition: filter 220ms ease-out;
}

@mixin button-outline($color: var(--text)) {
  @include button;

  color: $color;
  border: $color solid 1px;
}

@mixin button-color($color: var(--text)) {
  @include button;

  color: var(--text-light);
  background: $color;
}

@mixin radio-button {
  width: 20px;
  height: 20px;
  border: var(--accent-primary) solid 1px;
  border-radius: 100px;
}

@mixin icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: var(--standard-radius);
  transition: background-color 100ms ease-out, color 100ms ease-out;

  svg {
    transition: transform 100ms ease-out;
  }

  &:hover {
    color: var(--text-light);
    background: var(--accent);
  }

  &:active {
    color: var(--accent-mild-contrast);
    background: var(--accent-mild);

    svg {
      transform: scale(.85);
      opacity: .75;
    }
  }

  &.disabled {
    color: var(--icon-disabled);
    pointer-events: none;
  }
}