.container {
  position: absolute;
  bottom: 20px;
  left: -60%;
  z-index: 2;
  display: block;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  padding: 0.5rem;
  color: var(--text);
  white-space: nowrap;
  text-overflow: ellipsis;
  background: linear-gradient(var(--card), var(--card)) padding-box,
  var(--accent-gradient) border-box;
  border: 2px solid transparent;
  border-radius: 0.25rem;

  p {
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
